<html>
  <head>
    <style>
      body {
        background-color: lightblue;
        text-align: center;
        padding-top: 10rem;
      }

      body div {
        margin-top: 10rem;
        margin: 1rem;
      }
      a:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div>
      <label>Email: </label>
      <input type="email" name="email" id="email" />
    </div>
    <div>
      <label>Password: </label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <a href="/bookForm">
        <button>Login</button>
      </a>
    </div>
  </body>
</html>
