
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Go To:</h2>
    <div>
        <a href="./q1">
            Question 1
        </a>
    </div>
    <div>
        <a href="./q2">
            Question 2
        </a>
    </div>
    <div>
        <a href="./q3">
            Question 3
        </a>
    </div>
    <div>
        <a href="./q4">
            Question 4
        </a>
    </div>

</body>
</html>